.player-music {
    background-color: #082c14 !important;
    color: white !important;
}

.rhap_time, rhap_current-time {
    color: white !important
}

.rhap_controls-section {
    color: white !important
}